.app {
    height: calc(100vh - 90px);
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.fl {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.sidebar {
    color: #6f6f6f;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1002;
}

.sidebar img {
    width: 50%;
}

.sidebar span {
    display: none;
}

.nav {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.nav, .user {
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

.nav *, .user * {
    margin: 2px 0;
}

.nav span {
    font-weight: bold;
}

.nav img {
    filter: invert(0.4);
}

.nav div:hover:not(.playlist) {
    color: white;
}

.nav div:hover > img, #logo img {
    filter: none;
}

.nav #logo img:first-child{
    filter: invert(1);
    margin: 5px auto;
}

.nav #logo img:last-child {
    display: none;
}

.home {
    color: #fff;
}

.playlist {
    margin-top: 20px;
    display: none;
}

.playlist .add h3{
    display: inline-block;
    background-color: #a3a3a3;
    color: #000;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin: 5px 5px 5px 0;
}

.nav > div:hover:not(.playlist) {
    color: white;
}

.add:hover h3 {
    background-color: white;
}

.playlist h4 {
    color: white;
}

.playlist div {
    margin: 15px 0;
    font-weight: bold;
}

.user {
    width: 100%;
}

.user img {
    position: relative;
    right: 2px;
}

.user div:hover {
    color: white;
}

.user hr {
    display: none;
}

.user h4 {
    color: white;
    font-size: 16px;
    line-height: 25px;
    margin-left: 35px;
    display: none;
}

.profile {
    width: 55%;
    background-color: #6f6f6f;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.profile div{
    background-image: url(../img/profile.svg);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
}

.content-side {
    background-color: #141922;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.top-bar {
    padding: 5px;
    height: 90px;
    position: fixed;
    color: #fff;
    background-color: rgba(0, 0, 20, 0.8);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1001;
}

.top-bar .button {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px 25px;
    margin-right: 10px;
}

.top-bar .button:hover {
    font-size: 20px;
    padding: 12px 28px;
    margin-right: 15px;
    cursor: pointer;
}

.content {
    flex-grow: 1;
    margin-top: 95px;
    padding: 25px;
    color: #fff;
}

.content ul {
    list-style: none;
    color: #7d7f84;
    text-align: center;
}

.content ul li {
    display: inline-block;
    padding: 5px 5px 20px;
    font-weight: bold;
}

.content ul li:hover {
    color: white;
    cursor: pointer;
}

.content h2, .content p {
    margin-left: 10px;
    padding: 5px;
}

.content .item {
    width: 50%;
    padding: 15px;
}

.content .item-img {
    position: relative;
}

.content .item-img img {
    width: 100%;
}

.content .item-img i {
    display: none;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content .item-img:hover img {
    opacity: 0.5;
    cursor: pointer;
}

.content .item-img:hover i {
    display: block;
}

.content .item-img i:hover  {
    display: block;
}

.content .item-text {
    text-align: center;
}

.content .item-text > * {
    padding-top: 10px;
    font-weight: bold;
}

.popular img {
    border-radius: 50%;
}

.item-text {
    margin-bottom: 10px;
}

.item-text div {
    color: #7d7f84;
    font-size: 14px;
}

.footer-container {
    position: relative;
    height: 90px;
    display: flex;
    background-color: #282828;
    z-index: 1001;
    color: #fff;
}

.footer-container > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-container > div:first-child > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-container > div:first-child img {
    width: 30px;
    height: 30px;
}

.footer-container .song-title div {
    font-size: 12px;
    color: #7d7f84;
}

.footer-container .song-title div:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-container .footer-fav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container .footer-fav > div {
    position: relative;
}

.footer-container .footer-fav i {
    color: #7d7f84;
}

.footer-container .footer-fav i:hover {
    color: #fff;
}

.footer-container > div:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-container .play-nav {
    display: flex;
    justify-content: center;
}

.footer-container .play-nav > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;    /*This is to prevent moving stuff while hovering*/
}

.footer-container .play-nav > div i {
    margin: 0 12px;
}

.footer-container .play-nav #big {
    width: 30px;    /*Like above, to prefent moving things*/
    text-align: center;
    font-size: 25px ;
}

.footer-container .play-nav #big:hover {
    font-size: 30px;
}

.footer-container .play-progress > div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.footer-container .progress-bar, .progress-played, .volume-bar {
    height: 5px;
    background-color: #7d7f84;
    border-radius: 5px;
}

.footer-container .progress-bar {
    width: 60%;
    margin: 0 20px;
}

.footer-container .progress-played {
    width: 25%;
    background-color: #eee;
}

.circle {
    width: 13px;
    height: 13px;
    background-color: #fff;
    margin: -9px;
    border-radius: 50%;
    margin-left: calc(25% - 6px);
    display: none;
}

.progress-bar:hover .progress-played, .volume-bar:hover .progress-played {
    background-color: yellowgreen;
}

.progress-bar:hover .circle, .volume-bar:hover .circle {
    display: block;
}

.footer-container .settings-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-container .volume-bar {
    width: 40%;
}

@media all and (min-width: 576px) {
    
    .nav, .user {
        text-align: left;
    }

    .nav #logo img:first-child {
        display: none;
    }

    .nav #logo img:last-child{
        display: block;
        width: 130px;
        margin: 20px 0;
    }

    .sidebar img {
        width: 13%;
        vertical-align: middle;
        margin-right: 5px;
    }

    .sidebar span {
        display: inline;
        font-size: 16px;
    }

    .content ul li {
        padding: 5px 10px 20px;
    }

    .playlist {
        display: block;
        overflow-y: auto;
    }

    .user {
        padding: 0 18px 6px;
    }
    
    .profile {
        width: 12%;
        float: left;
    }

    .profile div {
        margin: 0;
    }

    .user img {
        width: 10%;
    }

    .user span {
        font-size: 12px;
    }

    .user hr {
        display: block;
        height: 1px;
        background-color: #6f6f6f;
        border: none;
        margin: 5px 0 15px;
    }

    .user h4 {
        display: block;
    }

    .user .profile {
        width: 14%;
    }

    .top-bar .button {
        margin-right: 20px;
    }

    .footer-container > div:first-child img {
        width: 35px;
        height: 35px;
    }
}

@media all and (min-width: 768px) {
    
    .user .profile {
        width: 13%;
    }

    .content .item {
        width: calc(100% / 4);
    }

    .long {
        height: 300px; /* Unfortunately, this height is necessary */
    }                  /* to not break the floats */

    .top-bar .button {
        margin-right: 30px;
    }

    .footer-container .footer-fav {
        flex-direction: row;
        justify-content: center;
    }

    .footer-container .footer-fav div {
        margin: 0 7px;
    }
}                        


@media all and (min-width: 992px){

    .user .profile {
        width: 15%;
    }

    .content .item {
        width: calc(100% / 6);
    }

    .long {
        height: auto;
    }

    .footer-container .play-nav {
        justify-content: center;
    }
}

@media all and (min-width: 1380px){
    .user .profile {
        width: 10%;
    }
}

@media all and (max-height: 530px) {
    
    .user > div:first-child {
        display: none;
    }
}

@media all and (max-height: 470px) {
    
    .user {
        display: none;
    }
}